.aboutMe {
    margin-top: 200px;
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: center;
    align-items: center;
}

.aboutMe p {
    font-size: 17px;
    font-weight: 400;
    max-width: 70ch;
}