.navbar {
    margin-top: 20px;
    display: flex;
    flex: 1;
    justify-content: space-between;
    align-items: center;
    max-width: 1000px;
    padding-bottom: 20px;
    border-bottom: 2px lightgray solid;
    position: sticky;
}

.navLinks ul{
    display: flex;
}

.navLinks ul a:hover {
    box-shadow: 1px 0px 15px 1px #fff;
    transition: 0.25s ease;
    padding: 6px 25px;
}

.linksNav {
    justify-content: space-between;
    padding: 6px 20px;
    margin: 0px 10px;   
    background-color: orange;
    border-radius: 5px;
    text-decoration: none;
    color: black;
}

.linksNav li {
    list-style: none;
}

.photoCover {
    max-width: 100px;
}

.logo {
    color: orange;
    font-size: 32px;
    font-weight: 700;
}