@import url('https://fonts.googleapis.com/css2?family=Onest:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Onest:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: white;
  font-family: "Poppins","Onest",Arial, Helvetica, sans-serif;
  background: radial-gradient(ellipse at 50% -20%, rgba(10, 10, 20, 0.95), rgba(0, 0, 0, 0.95));
  scroll-behavior: smooth;
  height: 100%;
  box-sizing: border-box;
}

.headers {
  font-size: 40px;
  font-weight: 700;
  margin-bottom: 30px;
}