@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  background: radial-gradient(ellipse at 50% -20%, rgba(10, 10, 20, 0.95), rgba(0, 0, 0, 0.95));
  scroll-behavior: smooth;
  height: 100%;
  box-sizing: border-box;
}

.headers {
  font-size: 40px;
  font-weight: 700;
  margin-bottom: 30px;
}